# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

*.log

.DS_Store
/Temp/
/Library/assetDatabase3
/Library/AssetServerCacheV3
/Library/BuildPlayer.prefs
/Library/BuildSettings.asset
/Library/EditorSettings.asset
/Library/EditorUserBuildSettings.asset
/Library/FailedAssetImports.txt
/Library/InspectorExpandedItems.asset
/Library/MonoManager.asset
/Library/QualitySettings.asset
/Library/ScriptMapper
/Library/TagManager.asset
/Library/cache/
/Library/guidmapper
/Library/metadata
/Library/ScriptAssemblies
/Library/expandedItems
/Library/previews
/Library/ScriptAssemblies/Assembly-CSharp.dll
/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb 